*.iml
.gradle
/local.properties

# Android Studio
.idea

.DS_Store


#JavaExample
JavaExample/.idea
JavaExample/.project
JavaExample/.settings


#KotlinExample
KotlinExample/.idea
KotlinExample/.project
KotlinExample/.settings


#TensorIO
TensorIO/.idea
TensorIO/.project
TensorIO/.settings
